@tailwind base;
@tailwind components;
@tailwind utilities;

.backdrop {
  box-shadow: -0.4em 0.4em 0 0px rgb(255, 255, 255);
}

.backdrop:hover {
  box-shadow: -0.2em 0.2em 0 0px rgb(255, 255, 255);
  transform: translate(-0.2em, 0.2em);
}

.backdrop-after {
}
